body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://i.imgur.com/4tEO8q5.jpeg);
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  color: white;
  text-shadow:yellowgreen;
  text-align: center;
}

h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  animation: bounce 2s infinite ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.ball1 {
  left: 10%;
  background: linear-gradient(135deg, #ff7eb3, #ff758c);
  z-index: 3;
  animation-delay: 0s;
}

.ball2 {
  left: 50%;
  background: linear-gradient(135deg, #85ffbd, #00ff89);
  z-index: 2;
  animation-delay: 0.5s;
}

.ball3 {
  left: 90%;
  background: linear-gradient(135deg, #89cff0, #005082);
  z-index: 1;
  animation-delay:0.5s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
}
